<h1>Add to your favorites</h1>
<%= form_tag('/plan') do %>
  <% @shows_by_provider.each do |provider, shows|%>
    <h3 class="p-1 mb-2 bg-info text-white"> <%= provider %> </h3>
    <div class="form-row">
          <% shows.each do |show| %>
            <div class="col-sm-4 mb-3">
                <div class="form-check">
                  <%= check_box_tag("show_#{show.id}", value = show.id, checked = false) %>
                  <label class="form-check-label" for=<%=show.id%>>
                    <%=show.name%>
                  </label>
                </div>
                <img src=<%=show.image_url%> width="320" height="200">
            </div>
          <% end %>
    </div>
  <% end %>
  <div class="text-center mb-2 p-5" >
    <%= submit_tag ("Plan your stream!") %>
  </div>
<% end %>