<div class = "dashboard-container d-flex">
    <div class="messages d-flex">
           
                <%@reminders.each do |reminder|%>
                    <p><%=reminder.html_safe%></p>
                <%end%>
            
    </div>
    <div class="date-picker d-flex" >
        <p>Pick a mock date:</p>
        <br>
        <%= form_tag(set_date_path) do %>
            <%= date_select(:date, :date, default: { day: @current_day.to_i, month: @current_month_number }) %>
            <%= submit_tag %>
        <% end %>
    </div>
</div>

<div class = "dashboard-content">
    <div style="color:white;">
            <h3 class="p-1 mb-2 bg-info text-white">Current Shows (<%=Favorite.full_month(@current_month)%>)</h3>
            <div class="tv-block">
                <%@favorites_this_month.each do |favorite|%>
                    <div class = "column">
                        <a href=<%=favorite_path(favorite)%>> <img class="linked-image" src=<%=favorite.show.image_url%> width="300" height="200"></a>
                        <div class="tv-info">
                            <%=favorite.show.name%> | 
                            <%=favorite.show.provider.name%>
                        </div>
                    </div>
                <%end%>
            </div>

            <h3 class="p-1 mb-2 bg-info text-white">Coming Up (<%=Favorite.full_month(@next_month)%>)</h3>
            <div class="tv-block">
                <%@favorites_next_month.each do |favorite|%>
                    <div class = "column">
                        <a href=<%=favorite_path(favorite)%>> <img class="linked-image" src=<%=favorite.show.image_url%> width="300" height="200"></a>
                        <div class="tv-info">
                            <%=favorite.show.name%> | 
                            <%=favorite.show.provider.name%>
                        </div>
                    </div>
                <%end%>
            </div>
        
        <h3 class="p-1 mb-2 bg-info text-white">Future Shows</h3>
        <div class="tv-block">
            <%@upcoming_favorites.each do |favorite|%>
                <div class="column">
                    <a href=<%=favorite_path(favorite)%>><img class="linked-image" src=<%=favorite.show.image_url%> width="300" height="200"></a>
                    <div class="tv-info">
                        <%=favorite.show.name%> | 
                        <%=favorite.show.provider.name%> | 
                        <%favorite.months.split(",").each do |month|%>
                            <%=Favorite.full_month(month)%>
                        <%end%>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</div>
