<h3>Main Menu</h3>
<ul>
<%=link_to "Add to Your Favorites", plan_path%>
<%=link_to "Add New Show", new_show_path%>
<%=form_tag logout_path do  %>
<%=submit_tag "Log Out"%>
<%end%>
</ul>

<h3>Pick a mock date</h3>
<%= form_tag(set_date_path) do %>
    <%= date_select(:date, :date, default: { day: @current_day.to_i, month: @current_month_number }) %>
    <%= submit_tag %>
<% end %>

<h3>***Messages***</h3>
<ul>
<%@reminders.each do |reminder|%>
<li><%=reminder%></li>
<%end%>
</ul>


<div style="background-color:black;color:white;font-family:courier;">
    <h1>Welcome, <%= @user.first_name %></h1>
    <div>
        <h3>Current Shows (<%=@current_month%>)</h3>
        <ul>
            <%@shows_this_month.each do |show|%>
                <li style="display:inline;"> 
                    <%=show.name%>
                    <img src=<%=show.image_url%> width="300" height="200">
                    <%=show.provider.name%>
                </li>
            <%end%>
        </ul>
    </div>
<div>
    <h3>Future Shows</h3>
    <ul>
        <%@upcoming_shows.each do |show|%>
            <li style="display:inline;"> 
                <%=show.name%>
                <img src=<%=show.image_url%> width="300" height="200">
                <%=show.provider.name%>
            </li>
        <%end%>
    </ul>
</div>

</div>
